@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar css */
::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-track {
  @apply bg-darkGray;
}
::-webkit-scrollbar-thumb {
  @apply bg-accent rounded-md;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-black;
}

.primary-button {
  @apply bg-accent text-white px-6 py-3 text-lg rounded;
}

.secondary-button {
  @apply border border-accent text-accent px-6 py-3 text-lg rounded;
}
